{
    Grid =     {
        Values =         (
                        (
                0,
                10,
                20,
                30,
                40,
                50
            ),
                        (
                10,
                20,
                30,
                40,
                50,
                60
            ),
                        (
                20,
                30,
                40,
                50,
                60,
                10
            ),
                        (
                30,
                40,
                50,
                60,
                10,
                20
            ),
                        (
                40,
                50,
                60,
                10,
                20,
                30
            ),
                        (
                50,
                60,
                10,
                20,
                30,
                40
            ),
                        (
                60,
                10,
                20,
                30,
                40,
                50
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Th\U00e1ng 3",
                "Th\U00e1ng 4",
                "Th\U00e1ng 5",
                "Th\U00e1ng 6",
                "Th\U00e1ng 7",
                "Th\U00e1ng 8"
            );
            RowNames =             (
                "Th\U00e1ng 2",
                "Th\U00e1ng 3",
                "Th\U00e1ng 4",
                "Th\U00e1ng 5",
                "Th\U00e1ng 6",
                "Th\U00e1ng 7",
                "Th\U00e1ng 8"
            );
        };
    };
    Model =     {
    };
}