{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Th\U00e1ng 4",
                "Th\U00e1ng 5",
                "Th\U00e1ng 6",
                "Th\U00e1ng 7"
            );
            RowNames =             (
                "V\U00f9ng 1",
                "V\U00f9ng 2"
            );
        };
    };
    Model =     {
    };
}