{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "V\U00f9ng 1",
                "V\U00f9ng 1",
                "V\U00f9ng 2",
                "V\U00f9ng 3"
            );
            RowNames =             (
                "Th\U00e1ng 4",
                "Th\U00e1ng 5",
                "Th\U00e1ng 6",
                "Th\U00e1ng 7",
                "Th\U00e1ng 8",
                "Th\U00e1ng 9",
                "Th\U00e1ng 10",
                "Th\U00e1ng 11",
                "Th\U00e1ng 12"
            );
        };
    };
    Model =     {
    };
}