{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Th\U00e1ng 4",
                "Th\U00e1ng 5",
                "Th\U00e1ng 6",
                "Th\U00e1ng 7",
                "Th\U00e1ng 8"
            );
            RowNames =             (
                "V\U00f9ng 1",
                "V\U00f9ng 2",
                "V\U00f9ng 3",
                "V\U00f9ng 4",
                "V\U00f9ng 5",
                "V\U00f9ng 6"
            );
        };
    };
    Model =     {
    };
}