{
    Grid =     {
        Values =         (
                        (
                10,
                10,
                10,
                10
            ),
                        (
                20,
                20,
                20,
                20
            ),
                        (
                30,
                30,
                30,
                30
            ),
                        (
                40,
                40,
                40,
                40
            ),
                        (
                50,
                50,
                50,
                50
            ),
                        (
                60,
                60,
                60,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maio,
                Junho,
                Julho
            );
            RowNames =             (
                "Regi\U00e3o 1",
                "Regi\U00e3o 2",
                "Regi\U00e3o 3",
                "Regi\U00e3o 4",
                "Regi\U00e3o 5",
                "Regi\U00e3o 6"
            );
        };
    };
    Model =     {
    };
}