{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maio,
                Junho,
                Julho
            );
            RowNames =             (
                "Regi\U00e3o 1",
                "Regi\U00e3o 2"
            );
        };
    };
    Model =     {
    };
}