{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20
            ),
                        (
                3,
                4,
                34
            ),
                        (
                5,
                5,
                12
            ),
                        (
                6,
                8,
                50
            ),
                        (
                8,
                13,
                70
            ),
                        (
                9,
                16,
                35
            ),
                        (
                11,
                18,
                68
            ),
                        (
                12,
                20,
                22
            ),
                        (
                15,
                24,
                35
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Duben,
                "Kv\U011bten",
                "\U010cerven"
            );
            RowNames =             (
                Duben,
                "Kv\U011bten",
                "\U010cerven",
                "\U010cervenec",
                Srpen,
                "Z\U00e1\U0159\U00ed",
                "\U0158\U00edjen",
                Listopad,
                Prosinec
            );
        };
    };
    Model =     {
    };
}