{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Duben,
                "Kv\U011bten",
                "\U010cerven",
                "\U010cervenec"
            );
            RowNames =             (
                "Region 1",
                "Region 2"
            );
        };
    };
    Model =     {
    };
}