{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648"
            );
            RowNames =             (
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0661",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0662"
            );
        };
    };
    Model =     {
    };
}