{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20
            ),
                        (
                3,
                4,
                34
            ),
                        (
                5,
                5,
                12
            ),
                        (
                6,
                8,
                50
            ),
                        (
                8,
                13,
                70
            ),
                        (
                9,
                16,
                35
            ),
                        (
                11,
                18,
                68
            ),
                        (
                12,
                20,
                22
            ),
                        (
                15,
                24,
                35
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648"
            );
            RowNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633",
                "\U0633\U0628\U062a\U0645\U0628\U0631",
                "\U0623\U0643\U062a\U0648\U0628\U0631",
                "\U0646\U0648\U0641\U0645\U0628\U0631",
                "\U062f\U064a\U0633\U0645\U0628\U0631"
            );
        };
    };
    Model =     {
    };
}