{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20,
                0,
                12,
                30,
                100
            ),
                        (
                3,
                4,
                34,
                11,
                21,
                38,
                88
            ),
                        (
                5,
                5,
                12,
                19,
                30,
                20,
                76
            ),
                        (
                6,
                8,
                50,
                26,
                28,
                17,
                64
            ),
                        (
                8,
                13,
                70,
                33,
                38,
                24,
                52
            ),
                        (
                9,
                16,
                35,
                40,
                57,
                31,
                40
            ),
                        (
                11,
                18,
                68,
                70,
                66,
                23,
                28
            ),
                        (
                12,
                20,
                22,
                51,
                75,
                15,
                16
            ),
                        (
                15,
                24,
                35,
                40,
                99,
                6,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0661",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0661",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0661",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0662",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0662",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0663",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0663"
            );
            RowNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633",
                "\U0633\U0628\U062a\U0645\U0628\U0631",
                "\U0623\U0643\U062a\U0648\U0628\U0631",
                "\U0646\U0648\U0641\U0645\U0628\U0631",
                "\U062f\U064a\U0633\U0645\U0628\U0631"
            );
        };
    };
    Model =     {
    };
}