{
    Grid =     {
        Values =         (
                        (
                0,
                10,
                20,
                30,
                40,
                50
            ),
                        (
                10,
                20,
                30,
                40,
                50,
                60
            ),
                        (
                20,
                30,
                40,
                50,
                60,
                10
            ),
                        (
                30,
                40,
                50,
                60,
                10,
                20
            ),
                        (
                40,
                50,
                60,
                10,
                20,
                30
            ),
                        (
                50,
                60,
                10,
                20,
                30,
                40
            ),
                        (
                60,
                10,
                20,
                30,
                40,
                50
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0645\U0627\U0631\U0633",
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633"
            );
            RowNames =             (
                "\U0641\U0628\U0631\U0627\U064a\U0631",
                "\U0645\U0627\U0631\U0633",
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633"
            );
        };
    };
    Model =     {
    };
}