{
    Grid =     {
        Values =         (
                        (
                10,
                0,
                60,
                0,
                10
            ),
                        (
                20,
                0,
                50,
                0,
                20
            ),
                        (
                30,
                0,
                40,
                0,
                30
            ),
                        (
                40,
                0,
                30,
                0,
                40
            ),
                        (
                50,
                0,
                20,
                0,
                50
            ),
                        (
                60,
                0,
                10,
                0,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633"
            );
            RowNames =             (
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0661",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0662",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0663",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0664",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0665",
                "\U0627\U0644\U0645\U0646\U0637\U0642\U0629 \U0666"
            );
        };
    };
    Model =     {
    };
}