{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                4,
                0
            ),
                        (
                3,
                4,
                7,
                2
            ),
                        (
                5,
                5,
                8,
                4
            ),
                        (
                6,
                8,
                11,
                6
            ),
                        (
                8,
                13,
                14,
                8
            ),
                        (
                9,
                16,
                15,
                12
            ),
                        (
                11,
                18,
                17,
                15
            ),
                        (
                12,
                20,
                20,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648"
            );
            RowNames =             (
                "\U0623\U0628\U0631\U064a\U0644",
                "\U0645\U0627\U064a\U0648",
                "\U064a\U0648\U0646\U064a\U0648",
                "\U064a\U0648\U0644\U064a\U0648",
                "\U0623\U063a\U0633\U0637\U0633",
                "\U0633\U0628\U062a\U0645\U0628\U0631",
                "\U0623\U0643\U062a\U0648\U0628\U0631",
                "\U0646\U0648\U0641\U0645\U0628\U0631"
            );
        };
    };
    Model =     {
    };
}