{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Avril,
                Mai,
                Juin,
                Juillet,
                "Ao\U00fbt"
            );
            RowNames =             (
                "R\U00e9gion 1",
                "R\U00e9gion 2",
                "R\U00e9gion\U00a03",
                "R\U00e9gion\U00a04",
                "R\U00e9gion\U00a05",
                "R\U00e9gion\U00a06"
            );
        };
    };
    Model =     {
    };
}