{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0410\U043f\U0440\U0435\U043b\U044c",
                "\U041c\U0430\U0439",
                "\U0418\U044e\U043d\U044c",
                "\U0418\U044e\U043b\U044c"
            );
            RowNames =             (
                "\U0420\U0435\U0433\U0438\U043e\U043d 1",
                "\U0420\U0435\U0433\U0438\U043e\U043d 2"
            );
        };
    };
    Model =     {
    };
}