{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0420\U0435\U0433\U0438\U043e\U043d 1",
                "\U0420\U0435\U0433\U0438\U043e\U043d 1",
                "\U0420\U0435\U0433\U0438\U043e\U043d 2",
                "\U0420\U0435\U0433\U0438\U043e\U043d 3"
            );
            RowNames =             (
                "\U0410\U043f\U0440\U0435\U043b\U044c",
                "\U041c\U0430\U0439",
                "\U0418\U044e\U043d\U044c",
                "\U0418\U044e\U043b\U044c",
                "\U0410\U0432\U0433\U0443\U0441\U0442",
                "\U0421\U0435\U043d\U0442\U044f\U0431\U0440\U044c",
                "\U041e\U043a\U0442\U044f\U0431\U0440\U044c",
                "\U041d\U043e\U044f\U0431\U0440\U044c",
                "\U0414\U0435\U043a\U0430\U0431\U0440\U044c"
            );
        };
    };
    Model =     {
    };
}