{
    Grid =     {
        Values =         (
                        (
                0,
                10,
                20,
                30,
                40,
                50
            ),
                        (
                10,
                20,
                30,
                40,
                50,
                60
            ),
                        (
                20,
                30,
                40,
                50,
                60,
                10
            ),
                        (
                30,
                40,
                50,
                60,
                10,
                20
            ),
                        (
                40,
                50,
                60,
                10,
                20,
                30
            ),
                        (
                50,
                60,
                10,
                20,
                30,
                40
            ),
                        (
                60,
                10,
                20,
                30,
                40,
                50
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0411\U0435\U0440\U0435\U0437\U0435\U043d\U044c",
                "\U041a\U0432\U0456\U0442\U0435\U043d\U044c",
                "\U0422\U0440\U0430\U0432\U0435\U043d\U044c",
                "\U0427\U0435\U0440\U0432\U0435\U043d\U044c",
                "\U041b\U0438\U043f\U0435\U043d\U044c",
                "\U0421\U0435\U0440\U043f\U0435\U043d\U044c"
            );
            RowNames =             (
                "\U041b\U044e\U0442\U0438\U0439",
                "\U0411\U0435\U0440\U0435\U0437\U0435\U043d\U044c",
                "\U041a\U0432\U0456\U0442\U0435\U043d\U044c",
                "\U0422\U0440\U0430\U0432\U0435\U043d\U044c",
                "\U0427\U0435\U0440\U0432\U0435\U043d\U044c",
                "\U041b\U0438\U043f\U0435\U043d\U044c",
                "\U0421\U0435\U0440\U043f\U0435\U043d\U044c"
            );
        };
    };
    Model =     {
    };
}