{
    Grid =     {
        Values =         (
                        (
                10,
                60
            ),
                        (
                20,
                50
            ),
                        (
                30,
                40
            ),
                        (
                40,
                30
            ),
                        (
                50,
                20
            ),
                        (
                60,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U041a\U0432\U0456\U0442\U0435\U043d\U044c",
                "\U0422\U0440\U0430\U0432\U0435\U043d\U044c"
            );
            RowNames =             (
                "\U0420\U0435\U0433\U0456\U043e\U043d 1",
                "\U0420\U0435\U0433\U0456\U043e\U043d 2",
                "\U0420\U0435\U0433\U0456\U043e\U043d 3",
                "\U0420\U0435\U0433\U0456\U043e\U043d 4",
                "\U0420\U0435\U0433\U0456\U043e\U043d 5",
                "\U0420\U0435\U0433\U0456\U043e\U043d 6"
            );
        };
    };
    Model =     {
    };
}