{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U041a\U0432\U0456\U0442\U0435\U043d\U044c",
                "\U0422\U0440\U0430\U0432\U0435\U043d\U044c",
                "\U0427\U0435\U0440\U0432\U0435\U043d\U044c",
                "\U041b\U0438\U043f\U0435\U043d\U044c"
            );
            RowNames =             (
                "\U0420\U0435\U0433\U0456\U043e\U043d 1",
                "\U0420\U0435\U0433\U0456\U043e\U043d 2"
            );
        };
    };
    Model =     {
    };
}