{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mai,
                Juni,
                Juli
            );
            RowNames =             (
                "Region 1",
                "Region 2"
            );
        };
    };
    Model =     {
    };
}