{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                91,
                76,
                28,
                26,
                21,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mai,
                Juni,
                Juli,
                August,
                September
            );
            RowNames =             (
                "Region 1"
            );
        };
    };
    Model =     {
    };
}