{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mai,
                Juni,
                Juli,
                August
            );
            RowNames =             (
                "Region 1",
                "Region 2",
                "Region 3",
                "Region 4",
                "Region 5",
                "Region 6"
            );
        };
    };
    Model =     {
    };
}