{
    Grid =     {
        Values =         (
                        (
                10,
                0,
                60,
                0,
                10
            ),
                        (
                20,
                0,
                50,
                0,
                20
            ),
                        (
                30,
                0,
                40,
                0,
                30
            ),
                        (
                40,
                0,
                30,
                0,
                40
            ),
                        (
                50,
                0,
                20,
                0,
                50
            ),
                        (
                60,
                0,
                10,
                0,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Mayo,
                Junio,
                Julio,
                Agosto
            );
            RowNames =             (
                "Regi\U00f3n 1",
                "Regi\U00f3n 2",
                "Regi\U00f3n 3",
                "Regi\U00f3n 4",
                "Regi\U00f3n 5",
                "Regi\U00f3n 6"
            );
        };
    };
    Model =     {
    };
}