{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U05d0\U05d6\U05d5\U05e8 1",
                "\U05d0\U05d6\U05d5\U05e8 1",
                "\U05d0\U05d6\U05d5\U05e8 2",
                "\U05d0\U05d6\U05d5\U05e8 3"
            );
            RowNames =             (
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9",
                "\U05d0\U05d5\U05d2\U05d5\U05e1\U05d8",
                "\U05e1\U05e4\U05d8\U05de\U05d1\U05e8",
                "\U05d0\U05d5\U05e7\U05d8\U05d5\U05d1\U05e8",
                "\U05e0\U05d5\U05d1\U05de\U05d1\U05e8",
                "\U05d3\U05e6\U05de\U05d1\U05e8"
            );
        };
    };
    Model =     {
    };
}