{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                4,
                0
            ),
                        (
                3,
                4,
                7,
                2
            ),
                        (
                5,
                5,
                8,
                4
            ),
                        (
                6,
                8,
                11,
                6
            ),
                        (
                8,
                13,
                14,
                8
            ),
                        (
                9,
                16,
                15,
                12
            ),
                        (
                11,
                18,
                17,
                15
            ),
                        (
                12,
                20,
                20,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9"
            );
            RowNames =             (
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9",
                "\U05d0\U05d5\U05d2\U05d5\U05e1\U05d8",
                "\U05e1\U05e4\U05d8\U05de\U05d1\U05e8",
                "\U05d0\U05d5\U05e7\U05d8\U05d5\U05d1\U05e8",
                "\U05e0\U05d5\U05d1\U05de\U05d1\U05e8"
            );
        };
    };
    Model =     {
    };
}