{
    Grid =     {
        Values =         (
                        (
                0,
                10,
                20,
                30,
                40,
                50
            ),
                        (
                10,
                20,
                30,
                40,
                50,
                60
            ),
                        (
                20,
                30,
                40,
                50,
                60,
                10
            ),
                        (
                30,
                40,
                50,
                60,
                10,
                20
            ),
                        (
                40,
                50,
                60,
                10,
                20,
                30
            ),
                        (
                50,
                60,
                10,
                20,
                30,
                40
            ),
                        (
                60,
                10,
                20,
                30,
                40,
                50
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U05de\U05e8\U05e5",
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9",
                "\U05d0\U05d5\U05d2\U05d5\U05e1\U05d8"
            );
            RowNames =             (
                "\U05e4\U05d1\U05e8\U05d5\U05d0\U05e8",
                "\U05de\U05e8\U05e5",
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9",
                "\U05d0\U05d5\U05d2\U05d5\U05e1\U05d8"
            );
        };
    };
    Model =     {
    };
}