{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20
            ),
                        (
                3,
                4,
                34
            ),
                        (
                5,
                5,
                12
            ),
                        (
                6,
                8,
                50
            ),
                        (
                8,
                13,
                70
            ),
                        (
                9,
                16,
                35
            ),
                        (
                11,
                18,
                68
            ),
                        (
                12,
                20,
                22
            ),
                        (
                15,
                24,
                35
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9"
            );
            RowNames =             (
                "\U05d0\U05e4\U05e8\U05d9\U05dc",
                "\U05de\U05d0\U05d9",
                "\U05d9\U05d5\U05e0\U05d9",
                "\U05d9\U05d5\U05dc\U05d9",
                "\U05d0\U05d5\U05d2\U05d5\U05e1\U05d8",
                "\U05e1\U05e4\U05d8\U05de\U05d1\U05e8",
                "\U05d0\U05d5\U05e7\U05d8\U05d5\U05d1\U05e8",
                "\U05e0\U05d5\U05d1\U05de\U05d1\U05e8",
                "\U05d3\U05e6\U05de\U05d1\U05e8"
            );
        };
    };
    Model =     {
    };
}