<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Komplet dato</string>
		</dict>
		<integer>4</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Langt datoformat</string>
		</dict>
		<integer>3</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Medium dato</string>
		</dict>
		<integer>2</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Kort datoformat</string>
		</dict>
		<integer>1</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Kort tidsformat</string>
		</dict>
		<integer>0</integer>
		<integer>1</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Medium tid</string>
		</dict>
		<integer>0</integer>
		<integer>2</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Langt dato-/tidsformat</string>
		</dict>
		<integer>3</integer>
		<integer>1</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Speciel</string>
		</dict>
		<integer>0</integer>
		<integer>0</integer>
		<string></string>
	</array>
</array>
</plist>
