{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                april,
                maj,
                juni,
                juli
            );
            RowNames =             (
                "Omr\U00e5de 1",
                "Omr\U00e5de 2"
            );
        };
    };
    Model =     {
    };
}