{
    Grid =     {
        Values =         (
                        (
                10,
                60
            ),
                        (
                20,
                50
            ),
                        (
                30,
                40
            ),
                        (
                40,
                30
            ),
                        (
                50,
                20
            ),
                        (
                60,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                april,
                maj
            );
            RowNames =             (
                "Omr\U00e5de 1",
                "Omr\U00e5de 2",
                "Omr\U00e5de 3",
                "Omr\U00e5de 4",
                "Omr\U00e5de 5",
                "Omr\U00e5de 6"
            );
        };
    };
    Model =     {
    };
}