{
    Grid =     {
        Values =         (
                        (
                10,
                0,
                60,
                0,
                10
            ),
                        (
                20,
                0,
                50,
                0,
                20
            ),
                        (
                30,
                0,
                40,
                0,
                30
            ),
                        (
                40,
                0,
                30,
                0,
                40
            ),
                        (
                50,
                0,
                20,
                0,
                50
            ),
                        (
                60,
                0,
                10,
                0,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Nisan,
                "May\U0131s",
                Haziran,
                Temmuz,
                "A\U011fustos"
            );
            RowNames =             (
                "B\U00f6lge 1",
                "B\U00f6lge 2",
                "B\U00f6lge 3",
                "B\U00f6lge 4",
                "B\U00f6lge 5",
                "B\U00f6lge 6"
            );
        };
    };
    Model =     {
    };
}