{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "B\U00f6lge 1",
                "B\U00f6lge 1",
                "B\U00f6lge 2",
                "B\U00f6lge 3"
            );
            RowNames =             (
                Nisan,
                "May\U0131s",
                Haziran,
                Temmuz,
                "A\U011fustos",
                "Eyl\U00fcl",
                Ekim,
                "Kas\U0131m",
                "Aral\U0131k"
            );
        };
    };
    Model =     {
    };
}