{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mei,
                Juni,
                Juli,
                Augustus
            );
            RowNames =             (
                "Regio 1",
                "Regio 2",
                "Regio 3",
                "Regio 4",
                "Regio 5",
                "Regio 6"
            );
        };
    };
    Model =     {
    };
}