{
    Grid =     {
        Values =         (
                        (
                10,
                10,
                10,
                10
            ),
                        (
                20,
                20,
                20,
                20
            ),
                        (
                30,
                30,
                30,
                30
            ),
                        (
                40,
                40,
                40,
                40
            ),
                        (
                50,
                50,
                50,
                50
            ),
                        (
                60,
                60,
                60,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mei,
                Juni,
                Juli
            );
            RowNames =             (
                "Regio 1",
                "Regio 2",
                "Regio 3",
                "Regio 4",
                "Regio 5",
                "Regio 6"
            );
        };
    };
    Model =     {
    };
}