{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                91,
                76,
                28,
                26,
                21,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Travanj,
                Svibanj,
                Lipanj,
                Srpanj,
                Kolovoz,
                Rujan
            );
            RowNames =             (
                "Podru\U010dje 1"
            );
        };
    };
    Model =     {
    };
}