{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Travanj,
                Svibanj,
                Lipanj,
                Srpanj
            );
            RowNames =             (
                "Podru\U010dje 1",
                "Podru\U010dje 2"
            );
        };
    };
    Model =     {
    };
}