{
    Grid =     {
        Values =         (
                        (
                10,
                10,
                10,
                10
            ),
                        (
                20,
                20,
                20,
                20
            ),
                        (
                30,
                30,
                30,
                30
            ),
                        (
                40,
                40,
                40,
                40
            ),
                        (
                50,
                50,
                50,
                50
            ),
                        (
                60,
                60,
                60,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Travanj,
                Svibanj,
                Lipanj,
                Srpanj
            );
            RowNames =             (
                "Podru\U010dje 1",
                "Podru\U010dje 2",
                "Podru\U010dje 3",
                "Podru\U010dje 4",
                "Podru\U010dje 5",
                "Podru\U010dje 6"
            );
        };
    };
    Model =     {
    };
}