{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Apr\U00edl",
                "M\U00e1j",
                "J\U00fan",
                "J\U00fal",
                August
            );
            RowNames =             (
                "Oblas\U0165 1",
                "Oblas\U0165 2",
                "Oblas\U0165 3",
                "Oblas\U0165 4",
                "Oblas\U0165 5",
                "Oblas\U0165 6"
            );
        };
    };
    Model =     {
    };
}