{
    Grid =     {
        Values =         (
                        (
                1,
                1,
                1,
                1
            ),
                        (
                2,
                2,
                2,
                2
            ),
                        (
                3,
                3,
                3,
                3
            ),
                        (
                4,
                4,
                4,
                4
            ),
                        (
                5,
                5,
                5,
                5
            ),
                        (
                100,
                100,
                100,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maig,
                Juny,
                Juliol
            );
            RowNames =             (
                "Regi\U00f3 1",
                "Regi\U00f3 2",
                "Regi\U00f3 3",
                "Regi\U00f3 4",
                "Regi\U00f3 5",
                "Regi\U00f3 6"
            );
        };
    };
    Model =     {
    };
}