{
    Grid =     {
        Values =         (
                        (
                10,
                0,
                60,
                0,
                10
            ),
                        (
                20,
                0,
                50,
                0,
                20
            ),
                        (
                30,
                0,
                40,
                0,
                30
            ),
                        (
                40,
                0,
                30,
                0,
                40
            ),
                        (
                50,
                0,
                20,
                0,
                50
            ),
                        (
                60,
                0,
                10,
                0,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maig,
                Juny,
                Juliol,
                Agost
            );
            RowNames =             (
                "Regi\U00f3 1",
                "Regi\U00f3 2",
                "Regi\U00f3 3",
                "Regi\U00f3 4",
                "Regi\U00f3 5",
                "Regi\U00f3 6"
            );
        };
    };
    Model =     {
    };
}