{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maig,
                Juny,
                Juliol
            );
            RowNames =             (
                "Regi\U00f3 1",
                "Regi\U00f3 2"
            );
        };
    };
    Model =     {
    };
}