{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Abril,
                Maig,
                Juny,
                Juliol,
                Agost
            );
            RowNames =             (
                "Regi\U00f3 1",
                "Regi\U00f3 2",
                "Regi\U00f3 3",
                "Regi\U00f3 4",
                "Regi\U00f3 5",
                "Regi\U00f3 6"
            );
        };
    };
    Model =     {
    };
}