{
    Grid =     {
        Values =         (
                        (
                1,
                1,
                1,
                1
            ),
                        (
                2,
                2,
                2,
                2
            ),
                        (
                3,
                3,
                3,
                3
            ),
                        (
                4,
                4,
                4,
                4
            ),
                        (
                5,
                5,
                5,
                5
            ),
                        (
                100,
                100,
                100,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Maj,
                Juni,
                Juli
            );
            RowNames =             (
                "Omr\U00e5de 1",
                "Omr\U00e5de 2",
                "Omr\U00e5de 3",
                "Omr\U00e5de 4",
                "Omr\U00e5de 5",
                "Omr\U00e5de 6"
            );
        };
    };
    Model =     {
    };
}