{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Aprilie,
                Mai,
                Iunie,
                Iulie
            );
            RowNames =             (
                "Regiunea 1",
                "Regiunea 2"
            );
        };
    };
    Model =     {
    };
}