{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Aprilie,
                Mai,
                Iunie,
                Iulie,
                August
            );
            RowNames =             (
                "Regiunea 1",
                "Regiunea 2",
                "Regiunea 3",
                "Regiunea 4",
                "Regiunea 5",
                "Regiunea 6"
            );
        };
    };
    Model =     {
    };
}