{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20,
                0,
                12,
                30,
                100
            ),
                        (
                3,
                4,
                34,
                11,
                21,
                38,
                88
            ),
                        (
                5,
                5,
                12,
                19,
                30,
                20,
                76
            ),
                        (
                6,
                8,
                50,
                26,
                28,
                17,
                64
            ),
                        (
                8,
                13,
                70,
                33,
                38,
                24,
                52
            ),
                        (
                9,
                16,
                35,
                40,
                57,
                31,
                40
            ),
                        (
                11,
                18,
                68,
                70,
                66,
                23,
                28
            ),
                        (
                12,
                20,
                22,
                51,
                75,
                15,
                16
            ),
                        (
                15,
                24,
                35,
                40,
                99,
                6,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 1",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 1",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 1",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 2",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 2",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 3",
                "\U03a0\U03b5\U03c1\U03b9\U03bf\U03c7\U03ae 3"
            );
            RowNames =             (
                "\U0391\U03c0\U03c1\U03af\U03bb\U03b9\U03bf\U03c2",
                "\U039c\U03ac\U03b9\U03bf\U03c2",
                "\U0399\U03bf\U03cd\U03bd\U03b9\U03bf\U03c2",
                "\U0399\U03bf\U03cd\U03bb\U03b9\U03bf\U03c2",
                "\U0391\U03cd\U03b3\U03bf\U03c5\U03c3\U03c4\U03bf\U03c2",
                "\U03a3\U03b5\U03c0\U03c4\U03ad\U03bc\U03b2\U03c1\U03b9\U03bf\U03c2",
                "\U039f\U03ba\U03c4\U03ce\U03b2\U03c1\U03b9\U03bf\U03c2",
                "\U039d\U03bf\U03ad\U03bc\U03b2\U03c1\U03b9\U03bf\U03c2",
                "\U0394\U03b5\U03ba\U03ad\U03bc\U03b2\U03c1\U03b9\U03bf\U03c2"
            );
        };
    };
    Model =     {
    };
}