<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2333a</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Maps</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Map</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>NVDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Maps</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Maps.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Maps.help</string>
	<key>CFBundleIconFile</key>
	<string>maps</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Maps</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Maps</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>MAPX</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>maps</string>
				<string>mapitem</string>
				<string>map</string>
				<string>x-maps-mapitemhandles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1983.21.8.1.11</string>
	<key>CNInProcessContactPicker</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8R174l</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16B2333a</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8R174l</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.travel</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSIsAppleDefaultForScheme</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>MDItemKeywords</key>
	<string>Directions</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2016 Apple Inc.\nAll rights reserved.</string>
	<key>NSLocationUsageDescription</key>
	<string>Your location may be shown on the map and is used to provide things such as directions and nearby search results.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSeamlessOpening</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.Maps</string>
	</array>
</dict>
</plist>
