{
    Grid =     {
        Values =         (
                        (
                1,
                1,
                1,
                1
            ),
                        (
                2,
                2,
                2,
                2
            ),
                        (
                3,
                3,
                3,
                3
            ),
                        (
                4,
                4,
                4,
                4
            ),
                        (
                5,
                5,
                5,
                5
            ),
                        (
                100,
                100,
                100,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Kwiecie\U0144",
                Maj,
                Czerwiec,
                Lipiec
            );
            RowNames =             (
                "Region 1",
                "Region 2",
                "Region 3",
                "Region 4",
                "Region 5",
                "Region 6"
            );
        };
    };
    Model =     {
    };
}