{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 1",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 1",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 2",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 3"
            );
            RowNames =             (
                "\U0e40\U0e21\U0e29\U0e32\U0e22\U0e19",
                "\U0e1e\U0e24\U0e29\U0e20\U0e32\U0e04\U0e21",
                "\U0e21\U0e34\U0e16\U0e38\U0e19\U0e32\U0e22\U0e19",
                "\U0e01\U0e23\U0e01\U0e0e\U0e32\U0e04\U0e21",
                "\U0e2a\U0e34\U0e07\U0e2b\U0e32\U0e04\U0e21",
                "\U0e01\U0e31\U0e19\U0e22\U0e32\U0e22\U0e19",
                "\U0e15\U0e38\U0e25\U0e32\U0e04\U0e21",
                "\U0e1e\U0e24\U0e28\U0e08\U0e34\U0e01\U0e32\U0e22\U0e19",
                "\U0e18\U0e31\U0e19\U0e27\U0e32\U0e04\U0e21"
            );
        };
    };
    Model =     {
    };
}