{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20,
                0,
                12,
                30,
                100
            ),
                        (
                3,
                4,
                34,
                11,
                21,
                38,
                88
            ),
                        (
                5,
                5,
                12,
                19,
                30,
                20,
                76
            ),
                        (
                6,
                8,
                50,
                26,
                28,
                17,
                64
            ),
                        (
                8,
                13,
                70,
                33,
                38,
                24,
                52
            ),
                        (
                9,
                16,
                35,
                40,
                57,
                31,
                40
            ),
                        (
                11,
                18,
                68,
                70,
                66,
                23,
                28
            ),
                        (
                12,
                20,
                22,
                51,
                75,
                15,
                16
            ),
                        (
                15,
                24,
                35,
                40,
                99,
                6,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 1",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 1",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 1",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 2",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 2",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 3",
                "\U0e1e\U0e37\U0e49\U0e19\U0e17\U0e35\U0e48 3"
            );
            RowNames =             (
                "\U0e40\U0e21\U0e29\U0e32\U0e22\U0e19",
                "\U0e1e\U0e24\U0e29\U0e20\U0e32\U0e04\U0e21",
                "\U0e21\U0e34\U0e16\U0e38\U0e19\U0e32\U0e22\U0e19",
                "\U0e01\U0e23\U0e01\U0e0e\U0e32\U0e04\U0e21",
                "\U0e2a\U0e34\U0e07\U0e2b\U0e32\U0e04\U0e21",
                "\U0e01\U0e31\U0e19\U0e22\U0e32\U0e22\U0e19",
                "\U0e15\U0e38\U0e25\U0e32\U0e04\U0e21",
                "\U0e1e\U0e24\U0e28\U0e08\U0e34\U0e01\U0e32\U0e22\U0e19",
                "\U0e18\U0e31\U0e19\U0e27\U0e32\U0e04\U0e21"
            );
        };
    };
    Model =     {
    };
}