{
    Grid =     {
        Values =         (
                        (
                0,
                10,
                20,
                30,
                40,
                50
            ),
                        (
                10,
                20,
                30,
                40,
                50,
                60
            ),
                        (
                20,
                30,
                40,
                50,
                60,
                10
            ),
                        (
                30,
                40,
                50,
                60,
                10,
                20
            ),
                        (
                40,
                50,
                60,
                10,
                20,
                30
            ),
                        (
                50,
                60,
                10,
                20,
                30,
                40
            ),
                        (
                60,
                10,
                20,
                30,
                40,
                50
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U0e21\U0e35\U0e19\U0e32\U0e04\U0e21",
                "\U0e40\U0e21\U0e29\U0e32\U0e22\U0e19",
                "\U0e1e\U0e24\U0e29\U0e20\U0e32\U0e04\U0e21",
                "\U0e21\U0e34\U0e16\U0e38\U0e19\U0e32\U0e22\U0e19",
                "\U0e01\U0e23\U0e01\U0e0e\U0e32\U0e04\U0e21",
                "\U0e2a\U0e34\U0e07\U0e2b\U0e32\U0e04\U0e21"
            );
            RowNames =             (
                "\U0e01\U0e38\U0e21\U0e20\U0e32\U0e1e\U0e31\U0e19\U0e18\U0e4c",
                "\U0e21\U0e35\U0e19\U0e32\U0e04\U0e21",
                "\U0e40\U0e21\U0e29\U0e32\U0e22\U0e19",
                "\U0e1e\U0e24\U0e29\U0e20\U0e32\U0e04\U0e21",
                "\U0e21\U0e34\U0e16\U0e38\U0e19\U0e32\U0e22\U0e19",
                "\U0e01\U0e23\U0e01\U0e0e\U0e32\U0e04\U0e21",
                "\U0e2a\U0e34\U0e07\U0e2b\U0e32\U0e04\U0e21"
            );
        };
    };
    Model =     {
    };
}