{
    Grid =     {
        Values =         (
                        (
                10,
                60
            ),
                        (
                20,
                50
            ),
                        (
                30,
                40
            ),
                        (
                40,
                30
            ),
                        (
                50,
                20
            ),
                        (
                60,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4\Uc6d4",
                "5\Uc6d4"
            );
            RowNames =             (
                "\Uc9c0\Uc5ed 1",
                "\Uc9c0\Uc5ed 2",
                "\Uc9c0\Uc5ed 3",
                "\Uc9c0\Uc5ed 4",
                "\Uc9c0\Uc5ed 5",
                "\Uc9c0\Uc5ed 6"
            );
        };
    };
    Model =     {
    };
}