{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                91,
                76,
                28,
                26,
                21,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4\Uc6d4",
                "5\Uc6d4",
                "6\Uc6d4",
                "7\Uc6d4",
                "8\Uc6d4",
                "9\Uc6d4"
            );
            RowNames =             (
                "\Uc9c0\Uc5ed 1"
            );
        };
    };
    Model =     {
    };
}