{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                4,
                0
            ),
                        (
                3,
                4,
                7,
                2
            ),
                        (
                5,
                5,
                8,
                4
            ),
                        (
                6,
                8,
                11,
                6
            ),
                        (
                8,
                13,
                14,
                8
            ),
                        (
                9,
                16,
                15,
                12
            ),
                        (
                11,
                18,
                17,
                15
            ),
                        (
                12,
                20,
                20,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4\Uc6d4",
                "5\Uc6d4",
                "6\Uc6d4",
                "7\Uc6d4"
            );
            RowNames =             (
                "4\Uc6d4",
                "5\Uc6d4",
                "6\Uc6d4",
                "7\Uc6d4",
                "8\Uc6d4",
                "9\Uc6d4",
                "10\Uc6d4",
                "11\Uc6d4"
            );
        };
    };
    Model =     {
    };
}