{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                huhtikuu,
                toukokuu,
                "kes\U00e4kuu",
                "hein\U00e4kuu"
            );
            RowNames =             (
                "Alue 1",
                "Alue 2"
            );
        };
    };
    Model =     {
    };
}