{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                huhtikuu,
                toukokuu,
                "kes\U00e4kuu",
                "hein\U00e4kuu",
                elokuu
            );
            RowNames =             (
                "Alue 1",
                "Alue 2",
                "Alue 3",
                "Alue 4",
                "Alue 5",
                "Alue 6"
            );
        };
    };
    Model =     {
    };
}