{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                91,
                76,
                28,
                26,
                21,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                huhtikuu,
                toukokuu,
                "kes\U00e4kuu",
                "hein\U00e4kuu",
                elokuu,
                syyskuu
            );
            RowNames =             (
                "Alue 1"
            );
        };
    };
    Model =     {
    };
}