{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "Alue 1",
                "Alue 1",
                "Alue 2",
                "Alue 3"
            );
            RowNames =             (
                huhtikuu,
                toukokuu,
                "kes\U00e4kuu",
                "hein\U00e4kuu",
                elokuu,
                syyskuu,
                lokakuu,
                marraskuu,
                joulukuu
            );
        };
    };
    Model =     {
    };
}