{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20
            ),
                        (
                3,
                4,
                34
            ),
                        (
                5,
                5,
                12
            ),
                        (
                6,
                8,
                50
            ),
                        (
                8,
                13,
                70
            ),
                        (
                9,
                16,
                35
            ),
                        (
                11,
                18,
                68
            ),
                        (
                12,
                20,
                22
            ),
                        (
                15,
                24,
                35
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4 \U6708",
                "5 \U6708",
                "6 \U6708"
            );
            RowNames =             (
                "4 \U6708",
                "5 \U6708",
                "6 \U6708",
                "7 \U6708",
                "8 \U6708",
                "9 \U6708",
                "10 \U6708",
                "11 \U6708",
                "12 \U6708"
            );
        };
    };
    Model =     {
    };
}