{
    Grid =     {
        Values =         (
                        (
                10,
                60
            ),
                        (
                20,
                50
            ),
                        (
                30,
                40
            ),
                        (
                40,
                30
            ),
                        (
                50,
                20
            ),
                        (
                60,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4 \U6708",
                "5 \U6708"
            );
            RowNames =             (
                "\U5730\U57df1",
                "\U5730\U57df2",
                "\U5730\U57df3",
                "\U5730\U57df4",
                "\U5730\U57df5",
                "\U5730\U57df6"
            );
        };
    };
    Model =     {
    };
}