{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U5730\U57df1",
                "\U5730\U57df1",
                "\U5730\U57df2",
                "\U5730\U57df3"
            );
            RowNames =             (
                "4 \U6708",
                "5 \U6708",
                "6 \U6708",
                "7 \U6708",
                "8 \U6708",
                "9 \U6708",
                "10 \U6708",
                "11 \U6708",
                "12 \U6708"
            );
        };
    };
    Model =     {
    };
}