<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Teljes dátum</string>
		</dict>
		<integer>4</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Hosszú dátum</string>
		</dict>
		<integer>3</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Közepes dátum</string>
		</dict>
		<integer>2</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Rövid dátum</string>
		</dict>
		<integer>1</integer>
		<integer>0</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Rövid idő</string>
		</dict>
		<integer>0</integer>
		<integer>1</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Közepes idő</string>
		</dict>
		<integer>0</integer>
		<integer>2</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Hosszú dátum és idő</string>
		</dict>
		<integer>3</integer>
		<integer>1</integer>
		<string></string>
	</array>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<string>Egyéni</string>
		</dict>
		<integer>0</integer>
		<integer>0</integer>
		<string></string>
	</array>
</array>
</plist>
