{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U00c1prilis",
                "M\U00e1jus",
                "J\U00fanius",
                "J\U00falius"
            );
            RowNames =             (
                "1-es r\U00e9gi\U00f3",
                "2-es r\U00e9gi\U00f3"
            );
        };
    };
    Model =     {
    };
}