{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                Aprile,
                Maggio,
                Giugno,
                Luglio,
                Agosto
            );
            RowNames =             (
                "Regione 1",
                "Regione 2",
                "Regione 3",
                "Regione 4",
                "Regione 5",
                "Regione 6"
            );
        };
    };
    Model =     {
    };
}