{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                aprile,
                maggio,
                giugno,
                luglio
            );
            RowNames =             (
                "Regione 1",
                "Regione 2"
            );
        };
    };
    Model =     {
    };
}