{
	Model = {};
	Grid = {
		"_LOCALIZABLE_" = {
			RowNames = (
				"Region 1",
				"Region 2",
				"Region 3",
				"Region 4",
				"Region 5",
				"Region 6",
			);
			ColumnNames = (
				April,
				May,
				June,
				July,
				August,
			);
		};
		Values = (
			(
				100,
				0,
				100,
				0,
				100,
			),
			(
				100,
				0,
				100,
				0,
				100,
			),
			(
				100,
				0,
				100,
				0,
				100,
			),
			(
				100,
				0,
				100,
				0,
				100,
			),
			(
				100,
				0,
				100,
				0,
				100,
			),
			(
				100,
				0,
				100,
				0,
				100,
			),
		);
	};
}