{
	Model = {};
	Grid = {
		"_LOCALIZABLE_" = {
			RowNames = (
				February,
				March,
				April,
				May,
				June,
				July,
				August,
			);
			ColumnNames = (
				March,
				April,
				May,
				June,
				July,
				August,
			);
		};
		Values = (
			(
				0,
				10,
				20,
				30,
				40,
				50,
			),
			(
				10,
				20,
				30,
				40,
				50,
				60,
			),
			(
				20,
				30,
				40,
				50,
				60,
				10,
			),
			(
				30,
				40,
				50,
				60,
				10,
				20,
			),
			(
				40,
				50,
				60,
				10,
				20,
				30,
			),
			(
				50,
				60,
				10,
				20,
				30,
				40,
			),
			(
				60,
				10,
				20,
				30,
				40,
				50,
			),
		);
	};
}