{
    Grid =     {
        Values =         (
                        (
                10,
                10,
                10,
                10
            ),
                        (
                20,
                20,
                20,
                20
            ),
                        (
                30,
                30,
                30,
                30
            ),
                        (
                40,
                40,
                40,
                40
            ),
                        (
                50,
                50,
                50,
                50
            ),
                        (
                60,
                60,
                60,
                60
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mai,
                Juni,
                Juli
            );
            RowNames =             (
                "Omr\U00e5de 1",
                "Omr\U00e5de 2",
                "Omr\U00e5de 3",
                "Omr\U00e5de 4",
                "Omr\U00e5de 5",
                "Omr\U00e5de 6"
            );
        };
    };
    Model =     {
    };
}