{
    Grid =     {
        Values =         (
                        (
                27,
                36,
                63,
                143
            ),
                        (
                55,
                43,
                80,
                48
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mai,
                Juni,
                Juli
            );
            RowNames =             (
                "Omr\U00e5de 1",
                "Omr\U00e5de 2"
            );
        };
    };
    Model =     {
    };
}