{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                91,
                76,
                28,
                26,
                21,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mei,
                Jun,
                Julai,
                Ogos,
                September
            );
            RowNames =             (
                "Rantau 1"
            );
        };
    };
    Model =     {
    };
}