{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mei,
                Jun,
                Julai
            );
            RowNames =             (
                "Rantau 1",
                "Rantau 2"
            );
        };
    };
    Model =     {
    };
}