{
    Grid =     {
        Values =         (
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            ),
                        (
                100,
                0,
                100,
                0,
                100
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                April,
                Mei,
                Jun,
                Julai,
                Ogos
            );
            RowNames =             (
                "Rantau 1",
                "Rantau 2",
                "Rantau 3",
                "Rantau 4",
                "Rantau 5",
                "Rantau 6"
            );
        };
    };
    Model =     {
    };
}